body {
  margin: 0px;
  padding: 0px;
  background-color: #383838;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
h1 {
  color: white;
  padding: 0px 0px 0px 20px;
}

.hover-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-nav li {
  float: left;
}

.hover-nav li a {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  z-index: 0;
}

li a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #2683f6;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

li a:hover:before,
li a:focus:before {
  transform: scale(1);
}
h2 {
  color: white;
  margin: 20px;
  text-align: center;
  text-decoration: none;
}
h4 {
  color: white;
  margin: 20px;
  text-align: center;
}

.containerDeItems {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}
.dummyItem {
  border: 5px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  margin: 0px 50px 10px 50px;
  padding: 0px;
  height: 350px;
  width: 300px;
  background-color: #ffffff;
}
